---
import Layout from '../layouts/Layout.astro';
import Video from '../components/Video.astro';
import Intro from '../components/Intro.astro';
import Bento from '../components/Bento.astro';
import PreFooter from '../components/Prefooter.astro';
import Footer from '../components/Footer.astro';

---

<Layout 
	title="Premios ESLAND 2024 - Celebrando lo mejor del streaming y los creadores de contenido"
	description="descubre los mejores streamers y creadores de contenido de habla hispana en los Premios ESLAND 2024"
 >

	<Video />

	<main>
		<Intro />
		<Bento />
		<PreFooter />

	</main>
	<Footer />
</Layout>

<style>

</style>
